/* @media only screen and (max-width: 480px){
    :root{
        --margen: 0 10px;
    }
    .contenedor_comentario{
        padding: var(--margen);
    }
    .contenedor_imagenPerfil img{
        height: 60px;
        width: 60px;
    }
    .perfil{
        width: calc(100% - 60px);
    }
    .estrellas{
        margin-bottom: 2px;
    }
    .estrellas span{
       margin-right: 3px;
       width: 25px;
       height: 25px;
       font-size: 1rem;
    }
    .nota p{
        font-size: 0.7rem;
        margin-left: 10px;
        word-wrap: none;
    }
    .contenedor_comentarios{
        margin: var(--margen);
    }
    .likes div{
        margin-right: 10px;
        font-size: 0.8rem;
    }
    .likes div img{
        height: 20px;
        width: 20px;
        margin-right: 3px;
    }
    .comentarios_boton{
        font-size: 0.8rem;
    }
    .subcomentario .contenedor_imagenPerfil img{
        width: 40px;
        height: 40px;
    } 
    .subcomentario .nombre_perfil{
        font-size: 1rem;
    }
} */

@media(max-width: 1100px){
    .contenedor_formulario{  
      min-width: 700px; 
    }
    .contenedor_comentarios{
        min-width: 700px;
    }
  }
  
  @media (max-width: 800px){
    .contenedor_formulario{
        min-width: 80%;  
      }
    .contenedor_comentarios{
        min-width: 80%;
    }
    .polls-heading{
        width: 80%;
    }
    .tarjeta_comentario{
        max-width: 100%;
    }
    .nombre_perfil h1{
        font-size: 1.2rem;
        font-weight: bold;
    }
    .header_comentario{
        width: 20%;
    }
    .content-container{
        width: 80%;
    }

    .image{
        height: 40px;
        width : 40px;
    }
    .estrella{
        height: 11px;
        width: 11px;
    }
    .texto_comentario{
        font-size: .75rem;
    }
    .thumb{
        height: 12px;
        width: 12px;
    }
    .like-dislike h3{
        font-size: .65rem;
    }
    .comentarios_reply{
        font-size: .6rem;
    }
    .comentarios_boton{
        font-size: 10px;
    }
}

@media( max-width: 600px){
    .nombre_perfil h1{
        font-size: 1rem;
    }
}

@media (max-width: 450px){

    .contenedor_formulario{
        min-width: 100%;
    }
    .tarjeta_comentario{
        max-width: 100%;
        margin-bottom: 10px;
        border: 1px solid black;
    }
    .contenedor_comentarios{
        margin-left: 5px;
        margin-right: 5px;
    }
    .estrella{
        height: 10px;
        width: 10px;
        margin-right: 2px;
    }
}

@media(max-width: 300px){
    .contenedor_formulario{
        min-width: 150px;
    }
    .tarjeta_comentario{
        height: 25vh;
    }
    .contenedor_comentarios{
        min-width: 250px;
    }
}
  