@font-face{
	font-family: Montserrat;
	src: url(../assets/Montserrat-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
:root{
    --border: 5px;
    --margen: 0 20px;
    --container-shade: rgb(129, 129, 129);
    --botonColor: #FF5C00;
    --estrellasColor: #E9F93B;
}
body{
    background-color: rgb(148, 148, 148);
    color: white;
    width: 100vw;
    overflow-x: hidden;
}
/* .foro_post{
    background-color: rgb(66, 66, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 1.5rem 100px;
    border-radius: var(--border);
} */
/*----------------------------SEPARADOR------------------------------------------*/
.header_forum{
    font-size: 1.6rem;
    margin: 35px 0;
    margin-left: 20px;
}

/*-----------------------------FORMULARIO-----------------------------------------*/

.contenedor_formulario{
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.384);
    min-width: 1100px;
    margin: 2rem auto;
    background:var(--container-shade);
    padding: 1rem 2rem;
    text-align: center;
    margin-bottom : 0;
}

/* .contenedor_comentario{
    width: 100%;
    padding: var(--margen);
} */
.comentario{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    padding: 5px;
    background-color: #C4C4C4;
    outline: none;
    resize: none;
    border-radius: var(--border);
}
.comentario::placeholder{
    color: rgb(26, 26, 26);
}
/* .contenedor_botonPost{
    display: flex;
    justify-content: flex-end;
    margin: var(--margen);
    margin-top: 5px;
} */
.boton_post,
.comentarios_reply span{
    background-color: var(--botonColor);
    border: 0;
    padding: 5px 20px;
    color: white;
    border-radius: var(--border);
    cursor: pointer;
}
.comentarios_reply span{
    padding: 2px 10px;
    font-size: 0.7rem;
}

.boton_post{
    width: 50%;
    margin: .5rem auto;
    height: 50px;
    background: rgb(6, 48, 139);
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all .2s ease-in;
    z-index: 2;
    position: relative;
}
/* .boton_post:hover{
    
} */

.boton_post::before{
    content: '';
    position : absolute;
    height: 100%;
    width : 0;
    background: rgba(20, 82, 216, 0.479);
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;
    transition: all .2s ease-in;
}

.boton_post:hover::before{
    width: 100%;
}

.view-comments{
    width: 50%;
    margin: .5rem auto;
    height: 50px;
    text-transform: uppercase;
    background: rgb(0, 0, 0);
    border: none;
    color: #f4f4f4;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    position: relative;
    font-weight: bold;
}
.view-comments::before{
    content: '';
    position : absolute;
    height: 100%;
    width : 0;
    background: rgb(255, 255, 255);
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;
    transition: all .3s ease-in;
}


.view-comments:hover::before{
    width: 100%;
}
.view-comments:hover{
    color: #333;
}


/*--------------------------------TARJETAS COMENTARIOS--------------------------------------*/
.contenedor_comentarios{
    min-width: 1100px;
    margin: 0 auto;
    margin-top: .5rem;
    background: var(--container-shade);
    color: black;
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.384);
    padding: 1rem;
    transition: all .3s ease-in;
}

/* class for toggling comments */

.contenedor_comentarios.fade{
    display: none;
}

/* new styles for the commenting section */
.estrella{
    height: 15px;
    width: 15px;
}

.tarjeta_comentario{
    width: 90%;
    height: 170px;
    /* background: rgb(109, 109, 109);  */
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    /* background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%); */
    margin: 10px auto;   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.555);
    border-radius: 10px;
}

.header_comentario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: black; */
    height: 100%;
    width: 15%;
}

.estrella {
    margin-right: .5px;
    cursor: pointer;
}

.estrella.fade{
    opacity: .4;
}

.image{
    height: 75px;
    width: 70px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.content-container{
    width: 85%;
    height: 100%;
    /* background: pink; */
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: .5rem;
    padding-left: 10px;
}

.upper-content{
    margin-bottom: 20px;
}
.nombre_perfil{
    margin-bottom: 10px;
}

.nombre_perfil h1{
    font-size: 1.5rem;
    font-weight: bold;
}

.footer_comentario{
    display: flex;
    margin-bottom: 12px;
}

.thumb{
    height: 18px;
    width :18px;
}

.thumb.like{
    transform: rotate(180deg);
}

.thumb.like:hover{
    transform: rotate(180deg) scale(1.1);
}

.thumb:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.like-dislike{
    margin-right: 1rem;
}

.like-dislike h3{
    font-size: .8rem;
    display: inline-block;
}
.comentarios_reply{
    font-size: .7rem;
    color: rgb(121, 121, 121);
    cursor: pointer;
    transition: all .2s ease-in;
}

.comentarios_reply:hover{
    color: rgb(255, 255, 255);
}

.comentarios_boton{
    font-size: 14px;
    color: rgb(77, 77, 77);
    transition: all .2s ease-in;
    cursor: pointer;
}

.comentarios_boton:hover{
    color: white;
}




/*---------------------------------SUB COMENTARIOS-------------------------------------*/
.tarjeta_subcomentario{
    padding: 20px;
}
.subcomentario{
    background-color: #D9D9D9;
    border-radius: var(--border);
    margin: 10px 10px 0 10px;
}
.footer_subComentario .comentarios_boton{
    font-size: 0.9rem;
}
.subcomentario .contenedor_imagenPerfil img{
    width: 60px;
    height: 60px;
} 
.subcomentario .nombre_perfil{
    font-weight: bold;
    height: 100%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.subcomentario .texto_comentario{
    font-size: 0.9rem;
}
